extends ../../_layouts/base

include ../../_modules/content-block/content-block

block config
  - var baseUrl = '../../'

block content
    main.primera-cita.primera-cita--tienda
        .primera-cita--tienda__col.primera-cita--tienda__col--filters.col-third
            .primera-cita--tienda__filters-wrapper
                .primera-cita--tienda__row.primera-cita--tienda__row--drops
                    p.primera-cita--tienda__title colección
                    ul.primera-cita--tienda__filter__drop
                        li
                            a(href="#") Todos
                        li
                            a(href="#")
                                i.material-icons keyboard_arrow_right
                                | Ceremonia
                            ul.primera-cita--tienda__filter__drop-sub
                                li
                                    a(href="/tienda") Smoking
                                li
                                    a(href="/tienda") Camisas Smoking
                                li
                                    a(href="/tienda") Corbatines

                        li
                            a(href="#")
                                i.material-icons keyboard_arrow_right
                                | Sastrería
                            ul.primera-cita--tienda__filter__drop-sub
                                li
                                    a(href="/tienda") Trajes
                                li
                                    a(href="/tienda") Camisas Formales
                                li
                                    a(href="/tienda") Pantalones Formales
                                li
                                    a(href="/tienda") Sacos y Blazers
                                li
                                    a(href="/tienda") Corbatas

                        li
                            a(href="#")
                                i.material-icons keyboard_arrow_right
                                | Calzado
                            ul.primera-cita--tienda__filter__drop-sub
                                li
                                    a(href="/tienda") Zapatos formales
                                li
                                    a(href="/tienda") Zapatos casuales

                        li
                            a(href="#")
                                i.material-icons keyboard_arrow_right
                                | Cinturones
                            ul.primera-cita--tienda__filter__drop-sub
                                li
                                    a(href="/tienda") Cinturón formal
                                li
                                    a(href="/tienda") Cinturón casual

                        li
                            a(href="#")
                                i.material-icons keyboard_arrow_right
                                | Casual
                            ul.primera-cita--tienda__filter__drop-sub
                                li
                                    a(href="/tienda") Pantalones casuales
                                li
                                    a(href="/tienda") Camisas casuales
                                li
                                    a(href="/tienda") Polos
                                li
                                    a(href="/tienda") Chaquetas
                                li
                                    a(href="/tienda") Chalecos
                                li
                                    a(href="/tienda") Sweateres
                                li
                                    a(href="/tienda") Bermudas
                                li
                                    a(href="/tienda") Vestido de Baño

                        li
                            a(href="#")
                                i.material-icons keyboard_arrow_right
                                | Accesorios
                            ul.primera-cita--tienda__filter__drop-sub
                                li
                                    a(href="/tienda") Bufandas
                                li
                                    a(href="/tienda") Pañuelos
                                li
                                    a(href="/tienda") Mancornas
                                li
                                    a(href="/tienda") Esferos
                
                .primera-cita--tienda__row.primera-cita--tienda__row--price
                    p.primera-cita--tienda__title precio
                    .primera-cita--tienda__filter__price
                        label.primera-cita--tienda__filter__price-range__label.js-range-price-low
                        label.primera-cita--tienda__filter__price-range__label.js-range-price-high
                        .primera-cita--tienda__filter__price-range__bar-wrapper
                            input.primera-cita--tienda__filter__price-range__bar.js-range-price(type='range', multiple, value="14,1200000", step="0.01" min="14", max="1200000")
                            input(type="hidden", name="from-price", id="inputPriceFrom")
                            input(type="hidden", name="to-price", id="inputPriceTo")
                
                .primera-cita--tienda__row.primera-cita--tienda__row--colors
                    p.primera-cita--tienda__title color
                        .primera-cita--tienda__filter__colors
                            - for (var i = 0; i < 5; ++i) {
                                .primera-cita--tienda__filter__color
                                    input.primera-cita--tienda__filter__color__button(type="radio" id="color#{(1 + i) * (i + 1)}", name="color")
                                    label.primera-cita--tienda__filter__color__label(for="color#{(1 + i) * (i + 1)}", style="background:#245687")
                                .primera-cita--tienda__filter__color
                                    input.primera-cita--tienda__filter__color__button(type="radio" id="color#{(2 + i) * (i + 1)}", name="color")
                                    label.primera-cita--tienda__filter__color__label(for="color#{(2 + i) * (i + 1)}", style="background:#130358")
                                .primera-cita--tienda__filter__color
                                    input.primera-cita--tienda__filter__color__button(type="radio" id="color#{(3 + i) * (i + 1)}", name="color")
                                    label.primera-cita--tienda__filter__color__label(for="color#{(3 + i) * (i + 1)}", style="background:#720374")
                            - }

        .primera-cita--tienda__col.primera-cita--tienda__col--products.col-two-thirds
            .primera-cita--tienda__row.primera-cita--tienda__row--heading
                h2.primera-cita--tienda__header colección 2019
                a.primera-cita--tienda__button ver colección
            .primera-cita--tienda__row.primera-cita--tienda__row--product
                ul.primera-cita--tienda__heading
                    li
                        a(href="#") Ceremonia
                    li
                        a(href="#") Sastrería
                    li
                        a(href="#") Casual
                    li
                        a(href="#") Calzado
                    li
                        a(href="#") Cinturones
                    li
                        a(href="#") Accesorios
                .primera-cita--tienda__wrapper
                    select.primera-cita--tienda__sort
                        option.primera-cita--tienda__option Ordernar por
                .primera-cita--tienda__products
                    .primera-cita--tienda__product
                        .primera-cita--tienda__product-image
                            img(src="/images/tienda/product-1.jpg")
                        .primera-cita--tienda__description
                            h3.primera-cita--tienda__product-name Vestido Cerruti Gris
                            .primera-cita--tienda__product-price $944.000
                    .primera-cita--tienda__product
                        .primera-cita--tienda__product-image
                            img(src="/images/tienda/product-2.jpg")
                        .primera-cita--tienda__description
                            h3.primera-cita--tienda__product-name Vestido Cerruti Gris
                            .primera-cita--tienda__product-price $944.000
                    .primera-cita--tienda__product
                        .primera-cita--tienda__product-image
                            img(src="/images/tienda/product-3.jpg")
                        .primera-cita--tienda__description
                            h3.primera-cita--tienda__product-name Vestido Cerruti Gris
                            .primera-cita--tienda__product-price $944.000
                    .primera-cita--tienda__product
                        .primera-cita--tienda__product-image
                            img(src="/images/tienda/product-2.jpg")
                        .primera-cita--tienda__description
                            h3.primera-cita--tienda__product-name Vestido Cerruti Gris
                            .primera-cita--tienda__product-price $944.000
                    .primera-cita--tienda__product
                        .primera-cita--tienda__product-image
                            img(src="/images/tienda/product-3.jpg")
                        .primera-cita--tienda__description
                            h3.primera-cita--tienda__product-name Vestido Cerruti Gris
                            .primera-cita--tienda__product-price $944.000
                    .primera-cita--tienda__product
                        .primera-cita--tienda__product-image
                            img(src="/images/tienda/product-1.jpg")
                        .primera-cita--tienda__description
                            h3.primera-cita--tienda__product-name Vestido Cerruti Gris
                            .primera-cita--tienda__product-price $944.000
